<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Echo</title>
    <link href="https://fonts.googleapis.com/css?family=Monoton|Ultra" rel="stylesheet"> 
   
    <link href="https://fonts.googleapis.com/css?family=Katibeh" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  
</head>
<link rel="stylesheet" href="/style.css">
<style>
    
           *{
             margin: 0;
             padding: 0;
           }
           body{
             
             font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"
           }
           nav{
             background-color: rgba(255, 255, 255, 0.911);
             box-shadow:0px 0px 20px #dddddd; 
           }
           
           
           @media screen and (max-width: 600px){
             .brand-logo{
               font-size: 0.1rem;
             }
           }
     
     
      </style>
<body >

     <!--Nav Bar-->
     <nav class="grey-text text-darken-4 hoverable pushpin  navbar-fixed" style="z-index: 10;">
            <div class="nav-wrapper container ">
                                 
                    <a href="#" class="brand-logo black-text text-darken-4 " style="font-family: 'Monoton', cursive; ">Echo<span class="grey-text text-lighten-3" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif" >|</span><span class=" grey-text text-darken-3 right" style="font-family: 'Katibeh', cursive;padding-top: 0.4rem;">Blogs</span></a>
                    <a href="" class="sidenav-trigger" data-target="mobile-links" >
                      <i class="material-icons grey-text text-darken-3" style="font-size:34px;">menu</i>
                  </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down grey-text text-darken-4">
                      
                <li class="active"><a href="/" class="grey-text text-darken-4">Home</a></li>
                <li><a href="/explore"class="grey-text text-darken-4" >Explore</a></li>
                <li><a href="/auth/login"class="grey-text text-darken-4" >Login</a></li>
             
              </ul>
           
           </div>
           
          </nav>
          <ul class="sidenav" id="mobile-links">
              <li class="active"><a href="/" class="grey-text text-darken-4">Home</a></li>
              <li><a href="/explore"class="grey-text text-darken-4" >Explore</a></li>
              <li><a href="/auth/login"class="grey-text text-darken-4" >Login</a></li>
    </ul>
          
        
<!--end-->

<!--Main photo-->
<section style="height:78vh; ">
    <div class="row" id="main-login" style="height: inherit;">
        <!--image-->
        <div class="col  s12 valign-wrapper center" id="image" style="padding-top: 10vh; background: url('/img/login-photo.jpg') no-repeat ;background-position: center;background-size: cover;background-color: rgba(128, 128, 128, 0.315);background-blend-mode: overlay;height:inherit;">
            <h2  class="white-text center" style="background-color: rgba(168, 164, 164, 0.603); font-weight: bold; margin-left: auto; margin-right: auto; padding: 10px 10px; border: 2px solid white; border-radius: 10px;cursor: pointer;">Creativity Thrives Here...</h2>
        </div>
    </div>
    
</section>


<section class="container" style="position:relative;top:-70px; ">
   
          <div class="card-panel white hoverable">
            <div class="row">
              <div class="col s4 center">
                <div>
                  <img src="/img/innovate.png" style="height:80px; width: 80px;" >
                </div>
                <h5 class="grey-text text-darken-2 " style="font-weight:bold;">Innovate</h5>
              </div>
              <div class="col s4 center">
                  <div>
                      <img src="/img/paint2.png" style="height:80px; width: 80px;" >
                    </div>
                    <h5 class="grey-text text-darken-2 " style="font-weight:bold;">Create</h5>
               

              </div>
              <div class="col s4 center">
                  <div>
                      <img src="/img/collaborate.png" style="height:80px; width: 80px;" >
                    </div>
                    <h5 class="grey-text text-darken-2 " style="font-weight:bold;">Share</h5>
                  </div>
              </div>
            </div>
            
       
      </div>
                
</section>

<!--main content-->
<section class="container section "><!--section class just givs a bit margin at top-->
  <div class="row">
      <div class="col s12 l4">
          <img src="/img/children-drawing.jpg" alt="" class="responsive-img materialboxed"><!--huge image,reason, its his natural size,
          with abov class,its width becomes 100% and starts occupying the space in the 4 cols only-->
      </div>
      <div class="col s12 l6 offset-l1">
          <h4 class="teal-text text-darken-3">Write your heart's content</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non repudiandae, id, accusantium quia aperiam inventore quos temporibus aut quisquam quam quis exercitationem quaerat neque aliquid!</p>
      </div>
  </div>

  <div class="row">
      <div class="col s12 l4 push-l7 offset-l1">
          <img src="/img/explore-ideas.jpg" alt="" class="responsive-img materialboxed"><!--huge image,reason, its his natural size,
          with abov class,its width becomes 100% and starts occupying the space in the 4 cols only-->
      </div>
      <div class="col s12 l6 pull-l5 right-align offset-l1">
          <h4 class="teal-text text-darken-3">Explore ideas and concepts</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non repudiandae, id, accusantium quia aperiam inventore quos temporibus aut quisquam quam quis exercitationem quaerat neque aliquid!</p>
      </div>
  </div>

  <div class="row">
      <div class="col s12 l4">
          <img src="/img/bracelets.jpg" alt="" class="responsive-img materialboxed"><!--huge image,reason, its his natural size,
          with abov class,its width becomes 100% and starts occupying the space in the 4 cols only-->
      </div>
      <div class="col s12 l6 offset-l1">
          <h4 class="teal-text text-darken-3">Build your community</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non repudiandae, id, accusantium quia aperiam inventore quos temporibus aut quisquam quam quis exercitationem quaerat neque aliquid!</p>
      </div>
  </div>


 


</section>

<section class="section" style="padding-top:6%;">
<div class="container center">
    <a href="/explore" style="border:1px teal solid; border-radius:5px;" class="btn white teal-text waves-effect">Explore</a>
</div>
</section>







    <!--Footer-->
    <footer class="page-footer  grey  darken-4 " style="margin-top:4rem;">
        <div class="container">
          <div class="row">
            <div class="col l6 s12 m6">
              <h5 class="white-text">Echo Blogs</h5>
              <p class="grey-text text-lighten-1 left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima consectetur maiores repellat magni fuga aspernatur! Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="col l4 offset-l2 s12 m6">
              <h5 class="white-text">Connect With Us</h5>
              <ul >
                <li><a class="grey-text text-lighten-1" href="#!">Facebook</a></li>
                <li><a class="grey-text text-lighten-1" href="#!">Twitter</a></li>
                <li><a class="grey-text text-lighten-1" href="#!">Linkedin</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright black">
          <div class="container center">
          © 2019 Echo Inc | All rights reserved
          
          </div>
        </div>
      </footer>
      <!--End-->


      


    <!--script-->
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.pushpin');
      var instances = M.Pushpin.init(elems,{});
    });
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, {});
    
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
    
  
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, {});
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems,{});
  });

  </script>
</body>
</html>